.nombre-usuario {
    position: fixed; /* Fija la posición en la pantalla */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde el lado derecho */
    display: flex;
    align-items: center;
    flex-direction: column; /* Para colocar el ícono encima del texto */
    text-align: center;
}

.nombre-usuario i {
    font-size: 24px; /* Tamaño del ícono */
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
}

.nombre-usuario p {
    margin: 0;
}
