* {
    padding: 0;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

form {
    padding: 20px;
    background-color: #381b1ba6;
    margin: 0 auto; /* Centra horizontalmente */
    width: 425px; /* Controla el ancho del formulario */
    margin-top: 25px; /* Mayor espacio arriba para centrar verticalmente */
    padding-top: 28px;
    border-radius: 8px;
    position: relative; /* Asegura que esté centrado dentro del contenedor */
}

body {
    background-image: url(../IMG/fondo-sisg.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el alto de la ventana */
    color: white; /* Color del texto en el cuerpo */
    display: flex; /* Utiliza Flexbox para el layout */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Asegura un flujo vertical */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el padding predeterminado del cuerpo */
    box-sizing: border-box; /* Incluye el padding y border en el ancho y alto total del elemento */
}

.login-box {
    background-image: url(../IMG/fondo-sisg.jpg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px); /* Centra la caja de login */
}


input, select {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 4px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 0.9em;
    margin: 5px 0 0;
    color: #ff3333;
    font-weight: bold;
}

h1{
    color: white;
}

.btn-eliminar{    
    background-color: red;
}

.btn-modificar{    
    background-color: green;
}